* {
    box-sizing: border-box;
  }
  
body {
    font-size: 20px;
    color: #444;
    line-height: 1.5;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/273/835/large_2x/vector-white-background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; /* Resize the background image to cover the entire container */
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif; 
    padding: 1%;
}
  
nav,
footer {
    padding: 1% 0;
} 

.fade {
    transition: .5s;
}

.background {
    background-color: black;  
}

  
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
 }
  
  
  
header {
    padding: 12% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
  
section {
    display: block;
    min-height: 200px;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header .menu li {
    float: left;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.header .menu li a {
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    color: black;
}

#bio p {
    padding-left: 50px;
}

.technologiesUsed {
    display: block;
    clear: left;
    padding-top: 10px;
}
.technologiesUsed img {
    width: 50px;
    height: 50px;
}

.projectScreenshot {
    padding: 50px;
    max-width: 100%;
    height: auto;
}

.projectInfo {
    text-decoration: none;
    display: block;
    float: left;
    padding-left: 50px;
    color: black;
}

.projectInfo a{
    text-decoration: none;
    color: blue;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 25px;
}

.cursor {
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    height: 60px;
    animation: 
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

  @media only screen and (max-width: 600px) {
    h1 {
        font-size:30px;
    }

    h2 {
        font-size:20px;
    }

    .name {
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    p {
        font-size:15px;
    }

    .projectInfo a{
        text-decoration: none;
        color: blue;
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 20px;
    }
  }
  

